// src/components/Footer.scss

.footer {
    position: sticky;
    top:100;
    bottom: 0;
    z-index: 10;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-top: 3.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
    text-align: center;
    z-index: 10;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
