.footer {
    display: flex !important;
    flex-direction: row !important;
    background: var(--neutral-layer-4);
    color: var(--neutral-foreground-rest) !important;
    padding: 10px 10px;
    margin-top: 0px !important;
}

.footer .version a {
    color: var(--neutral-foreground-rest);
    text-decoration: none;
}

.footer .version a:focus {
    outline: 1px dashed;
    outline-offset: 3px;
}

.footer .version a:hover {
    text-decoration: underline;
}
